<div class="user_review">
    <div class="reviw-mat">
        <div class="user image">
            <span class="material-icons">
                account_circle
            </span>
        </div>
        <div class="content">
            <div class="title">
                <span>User name</span>March 1, 2019
            </div>
            <div class="star-component">
                <span class="material-icons">
                    star
                </span><span class="material-icons">
                    star_half
                </span>
                <span class="material-icons">
                    star_border
                </span>
            </div>
        </div>
        
    </div>
    <div class="actions">
        <div>8 star</div>
        <div>
            <span class="material-icons">
                thumb_up_alt
            </span>
            <span>0</span>
        </div>
    </div>
</div>