/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #131722; }
*:not(span,i,b,strong,em){
    display: flex;
}
.mat-checkbox-frame {
    border-color: #ffffff !important;
  } 
  .mat-tab-group {
    margin-bottom: 48px;
    color: #ffffff !important;
  }
  .mat-tab-label, .mat-tab-link {
    color: #fff;
}
